pkgbase = vicu-bin
	pkgdesc = Task management desktop app powered by Vikunja (prebuilt AppImage)
	pkgver = 1.8.0
	pkgrel = 1
	url = https://github.com/rendyhd/Vicu
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = libxtst
	depends = at-spi2-core
	depends = libdrm
	depends = mesa
	depends = xdg-utils
	depends = hicolor-icon-theme
	depends = fuse2
	provides = vicu
	conflicts = vicu
	options = !strip
	source = vicu.desktop
	source = vicu.png
	sha256sums = 066ba342fe45a5a6f0730040d219f3d464ac131728ef803d82beb520d33200da
	sha256sums = c12f96dd2ec1286a08148cf9055ac79093050590d3bf70b7a4c9e0110bd1cb80
	source_x86_64 = vicu.AppImage::https://github.com/rendyhd/Vicu/releases/download/v1.8.0/Vicu-1.8.0-x86_64.AppImage
	sha256sums_x86_64 = ebab70d32e794b6951a7e2a1d6ce07a13c50aa4d6d6383a2529c15dca11b3ced
	source_aarch64 = vicu.AppImage::https://github.com/rendyhd/Vicu/releases/download/v1.8.0/Vicu-1.8.0-arm64.AppImage
	sha256sums_aarch64 = 8b2c37588efd73c0e462147d544f05237a21bbf51661d6e91ffb3f16e9562fe3

pkgname = vicu-bin
